.pokemon-header {
  font-size: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.pokemonList {
  max-width: none;
  margin: 40px 80px;
  text-align: left;
  font-size: 20px;
  font-family: Veranda, sans-serif;
}

.button-class {
  background-color: #3CB371;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #4caf50;
}
