
.pokemon-header {
  font-size: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.pokemonList {
  max-width: none;
  margin: 40px 80px;
  text-align: left;
  font-size: 20px;
  font-family: Veranda, sans-serif;
}
