
/*
.button-class {
    border: none;
    background-color: lightpurple;
    padding: 16px 32px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
*/
:root {
    --background-color: #fcf7ff;
    --primary-color: #725AC1;
    --text-color: #fcf7ff;
    --border-color: #d5e1ed;
    --fontsize-body: 16px;
    --fontsize-h1: 32px;
    --fontsize-h2: 26px;
    --fontsize-h3: 16px;
    --fontweight-body: 300;
    --fontweight-h: 800;
    --linehight: 1.6;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: Roboto Mono, sans-serif;
    font-weight: var(--fontweight-body);
    line-height: var(--linehight);
    font-size: var(--fontsize-body);
}

h1 {
    font-size: var(--fontsize-h1);
    font-weight: var(--fontweight-h);
    margin: 8px;
    text-transform: capitalize;
}

.page-container {
  margin-top: 80px;
  margin-left: 5px;
}

.list-container {
  display: table;
  margin: auto 40px;
}

.pokemon-list {
  padding: 0;
}


.listItem-class {
  list-style-type: none;
  display: inline;
}

.button-class {
  border: none;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  margin: 8px 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  width: 200px;
  height: 200px;
  text-transform: capitalize;
  border-radius: 2%;
  }

  .button-class:hover {
    opacity: 0.8;
  }


.pokemon-image {
  transition: transform 0.4s;
}

.pokemon-image:hover {
  transform: scale(1.5);
}

#search-pokemon {
  background-color: var(--background-color);
  border-color: var(--primary-color);
  transition: transform 0.4s;
}

#search-pokemon:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.form-control::placeholder {
  color: var(--primary-color);
}

.navbar-brand {
  font-size: var(--fontsize-h1);
  font-weight: var(--fontweight-h);
}

.navbar-light .navbar-brand {
  color: var(--primary-color);
}

.navbar-light .navbar-brand:hover {
  color: var(--primary-color);
  opacity: 0.8;
}

.modal-content {
  text-align: center;
}

.modal-body {
  text-transform: capitalize;
  border: 2px solid;
  margin: 20px 20px;
  border-radius: 2%;
}

.btn {
  background-color: var(--primary-color);
}

.btn:hover {
  opacity: 0.8;
  background-color: var(--primary-color);
}

.modal-header .close {
  color: var(--primary-color);
  opacity: 1.0;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.navbar.custom {
  background-color: var(--background-color);
}
